<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div class="container">
        <!-- Image section -->
        <img src="./static/asset/S.png" alt="Welcome Image" >

        <!-- Title -->
        <h1>Welcome to Our Service</h1>

        <!-- Button section -->
        <div class="button-group">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Signup</a>
        </div>
    </div>
</body>
</html>
